<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Transport Mode Detection</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="/bundles/fhvtmd/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link href="/bundles/fhvtmd/vendor/bootstrap-material-design/dist/css/roboto.min.css" rel="stylesheet">
        <link href="/bundles/fhvtmd/vendor/bootstrap-material-design/dist/css/material-fullpalette.min.css"
              rel="stylesheet">
        <link rel="stylesheet" href="/bundles/fhvtmd/css/tmd.css">
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

{% include 'FHVTmdBundle::Theme/partials/navigation.html.twig' with { 'currentNavigation' : currentNavigation } only %}

{% block content %}
{% endblock %}



{% block javascript %}
    <script src="/bundles/fhvtmd/vendor/requirejs/require.js"></script>
    <script src="/bundles/fhvtmd/js/config.js" data-main="scripts/main"></script>
{% endblock %}

{% block mainRequire %}{% endblock %}

</body>
</html>
