{% extends 'FHVTmdBundle::Theme/base.html.twig' %}

{% block content %}

    <div class="bs-docs-featurette">
        <div class="container">
            <h1 class="text-center">Transport Mode Detection</h1>
            <p class=" text-center lead">Detecting transport modes from plain gps tracks with different algorithms.</p>

            <hr class="half-rule">

            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center">
                        <i style="font-size:50pt" class="mdi-communication-location-on"></i>
                    </div>
                    <h3>GPS tracks</h3>
                    <p>Dies ist ein Typoblindtext. An ihm kann man sehen, ob alle Buchstaben da sind und wie sie aussehen. Manchmal benutzt man Worte wie Hamburgefonts, Rafgenduks oder Handgloves, um Schriften zu testen.</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <i style="font-size:50pt" class="mdi-action-language"></i>
                    </div>
                    <h3>Geographical data</h3>
                    <p>Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning), um die Wirkung in anderen Sprachen zu testen.</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <i style="font-size:50pt" class="mdi-action-assessment"></i>
                    </div>
                    <h3>Results</h3>
                    <p>In Lateinisch sieht zum Beispiel fast jede Schrift gut aus. Quod erat demonstrandum. Seit 1975 fehlen in den meisten Testtexten die Zahlen, weswegen nach TypoGb. 204 § ab dem Jahr 2034 Zahlen in 86 der Texte zur Pflicht werden. Nichteinhaltung wird mit bis zu 245 € oder 368 $ bestraft. </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
