.p-15 {
    padding: 15px !important;
}

.m-bottom-10 {
 margin-bottom: 10px !important;
}

.m-bottom-15 {
    margin-bottom: 15px !important;
}

.m-bottom-20 {
    margin-bottom: 20px !important;
}

.m-bottom-30 {
    margin-bottom: 30px !important;
}
